/* Reset padrao de espacamentos e box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Estilo do Body */
body {
    font-family: "Helvetica", "Arial", sans-serif;
}

/* Estilo do Header */
body > header {
    background-color: rgba(47, 54, 64, 1);
    color: rgba(245, 246, 250, 1);
    padding: 8px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

header ul {
    list-style: none;
    display: flex;
}

header li {
    margin-left: 16px;
}

header li a {
    color: rgba(245, 246, 250, 1);
    text-decoration: none;
    font-weight: bold;
}

/* Estilo do Container */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilo da classe .articles */
.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-evenly;
}

.articles article {
    width: calc(30% - 16px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 224, 224, 1);
    padding: 16px;
}

.articles article header {
    text-align: right;
    font-size: 0.8rem;
}

.articles article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.articles article h3 {
    font-size: 22px;
    margin: 8px 0;
    text-align: left;
}

.articles article a {
    display: inline-block;
    background-color: rgba(0, 0, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 6px 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 10px 0;
}

/* Estilo das Section */
section {
    padding: 16px 0;
}

section h2 {
    font-size: 32px;
    margin-bottom: 16px;
}

/* Alguns estilos especificos para sections */
#futbr {
    background-color: yellow;
}

#futbr .articles article a {
    background-color: rgba(0, 148, 72, 1);
    color: rgba(0, 0, 0, 1);
}

#futeng {
    background-color:purple;
}

#futeng .articles article a {
    background-color: rgba(255, 159, 26, 1);
}

#futesp {
    background-color: red;
}

#futesp .articles article a {
    background-color: rgba(60, 60, 224, 1);
}

#futint {
    background-color: rgba(232, 196, 159, 1);
}

#futint .articles article a {
    background-color: rgba(213, 125, 90, 1);
}

/* Efeito Hover sobre os links */
.articles article a:hover {
    text-decoration: underline;
}
